.DS_Store
.idea
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache

# do not delete
backend/python
backend/src/main/python/__pycache__/
backend/src/main/python/utils/__pycache__/
backend/resources/files

**/.env
backend/src/main/python/resources/files/avatar1_1.png
backend/src/main/python/resources/files/avatar2_1.png
backend/src/main/python/resources/files/avatar3_1.png
backend/src/main/python/resources/files/avatar4_1.png
backend/src/main/python/resources/files/BrazowaSkrzynia_1.png
backend/src/main/python/resources/files/gr1_1.png
backend/src/main/python/resources/files/gr2_1.png
backend/src/main/python/resources/files/gr3_1.png
backend/src/main/python/resources/files/gr4_1.png
backend/src/main/python/resources/files/gr5_1.png
backend/src/main/python/resources/files/gr6_1.png
backend/src/main/python/resources/files/gr7_1.png
backend/src/main/python/resources/files/gr8_1.png
backend/src/main/python/resources/files/gr9_1.png
backend/src/main/python/resources/files/gr10_1.png
backend/src/main/python/resources/files/gr11_1.png
backend/src/main/python/resources/files/gr12_1.png
backend/src/main/python/resources/files/gr13_1.png
backend/src/main/python/resources/files/gr14_1.png
backend/src/main/python/resources/files/gr15_1.png
backend/src/main/python/resources/files/gr16_1.png
backend/src/main/python/resources/files/gr17_1.png
backend/src/main/python/resources/files/gr18_1.png
backend/src/main/python/resources/files/gr19_1.png
backend/src/main/python/resources/files/gr20_1.png
backend/src/main/python/resources/files/Lekarstwo_1.png
backend/src/main/python/resources/files/LekarstwoV2_1.png
backend/src/main/python/resources/files/MarchewkaLaboratoryjna_1.png
backend/src/main/python/resources/files/MarchewkaProjektowa_1.png
backend/src/main/python/resources/files/owlbear1_1.png
backend/src/main/python/resources/files/owlbear2_1.png
backend/src/main/python/resources/files/owlbear3_1.png
backend/src/main/python/resources/files/owlbear4_1.png
backend/src/main/python/resources/files/owlbear5_1.png
backend/src/main/python/resources/files/owlbear6_1.png
backend/src/main/python/resources/files/owlbear7_1.png
backend/src/main/python/resources/files/RabatNaSianko_1.png
backend/src/main/python/resources/files/sampleAvatar_1.png
backend/src/main/python/resources/files/sampleAward_1.png
backend/src/main/python/resources/files/sampleChest_1.png
backend/src/main/python/resources/files/sampleGroup_1.png
backend/src/main/python/resources/files/sampleLevel_1.png
backend/src/main/python/resources/files/SrebrnaSkrzynia_1.png
backend/src/main/python/resources/files/Weterynarz_1.png
backend/src/main/python/resources/files/WeterynarzV2_1.png
backend/src/main/python/resources/files/ZlotaSkrzynia_1.png
